@model IEnumerable<Seasonless.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CustomerID">Edit</a> |
                    <a asp-action="Index" asp-controller="Summaries" asp-route-id="@item.CustomerID">View Summaries</a> |
                    <a asp-action="Index" asp-controller="Repayments" asp-route-id="@item.CustomerID">View Repayments</a>
                </td>
            </tr>
        }
    </tbody>
</table>